
:root {
  --font: monospace;
  --calc-bg-color: #E5E0DB;
  --calc-border-color: #464542;
  --display-border-color: #797979;
  --display-bg-color: #b0b0b0;
  --button-border-color: #797979;
  --button-bg-color: #fff;
  --button-default-text-color: #000;
}

.calculator {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--calc-border-color);
  border-radius: 1ch;
  background-color: var(--calc-bg-color);
  font-family: var(--font);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, var(--calc-border-color) 0px 30px 60px -30px;

    .calc-display {
      margin: 1.2ch;
      margin-top: 1.7ch;
      margin-bottom: 1.7ch;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(7, 1fr);
      gap: .7ch;
      color: var(--calc-border-color);

      .button {
        border: 2px solid var(--button-border-color);
        background-color: var(--button-bg-color);
        color: var(--button-default-text-color);
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: .5ch .1ch;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: var(--display-bg-color) 0px 2px 5px -1px, var(--calc-border-color) 0px 1px 3px -1px;
        cursor: pointer;
        font-size: 2ch;

        >div {
          // display: flex;
          height: 100%;
          width: 100%;
          font-size: 1.1ch;
          font-weight: bold;
          padding: 0;
          margin: 0;
          position: relative;

          :nth-child(1) {
            // justify-self: flex-start;
            // align-self: flex-start;
            // text-align: left;
            position: absolute;
            top: -.2ch;
            left: .2ch;
          }
          :nth-child(2) {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: normal;
            font-size: 3ch;
          }
          :nth-child(3) {
            position: absolute;
            bottom: -.2ch;
            right: .2ch;
          }
        }
      }

      .display {
        border: 3px solid var(--display-border-color);
        background-color: var(--display-bg-color);
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-end;
        font-weight: 400;
        position: relative;

        .main-text {
          padding: .1ch .5ch;
          font-size: 2.1ch;

        }
        .operator-text {
          padding: 0 .8ch;
          margin-bottom: -.6ch;
          font-size: 1.5ch;
        }

        .prev-value-text {
          // position: absolute;
          // bottom: .3ch;
          // left: .8ch;
          padding: 0 .8ch;
          margin-bottom: -.6ch;
          font-size: 1.5ch;
        }
      }

      div {
        border-radius: .5ch;

        &:nth-child(1) {
          grid-column-start: 1;
          grid-column-end: span 5;
          grid-row-start: 1;
          grid-row-end: span 2;
        }

        &:nth-child(n+2):nth-child(-n+20) {
          grid-column-end: span 1;
          grid-row-end: span 1;
        }

        &:nth-child(21) {
          grid-column-start: 5;
          grid-column-end: span 1;
          grid-row-start: 6;
          grid-row-end: span 2;
        }

        &:nth-child(22) {
          grid-column-start: 1;
          grid-column-end: span 4;
          grid-row-start: 7;
          grid-row-end: span 1;
        }
      }

    }
}